<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio-header">
      <h2>We are mostly <span class="highlight">Dribbbling</span> around</h2>
    </div>
    
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img src="assets/canvadesigns/eardopeBlackGreen.jpg" alt="E-commerce Website">
      </div>
      <div class="portfolio-item">
        <img src="assets/canvadesigns/headphoneBlack.jpg" alt="Health App">
      </div>
      <div class="portfolio-item">
        <img src="assets/canvadesigns/headphoneRed.jpg" alt="Social Media">
      </div>
      <div class="portfolio-item">
        <img src="assets/canvadesigns/symmMouse.jpg" alt="Portfolio">
      </div>
      <div class="portfolio-item">
        <img src="assets/canvadesigns/headphoneGreen.jpg" alt="Business Website">
      </div>
      <div class="portfolio-item">
        <img src="assets/canvadesigns/watchKriti.jpg" alt="Business Website">
      </div>
    </div>
  </div>
</section>
