.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, var(--primary-color) 0%, #14142b 100%);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.1) 0%, transparent 80%);
    opacity: 0.1;
    z-index: 0;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  
  h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
    .highlight {
      color: var(--accent-color);
    }
  }
}

.websites-tag {
  font-size: 5rem;
  font-weight: 800;
  color: var(--accent-color);
  margin: -1rem 0 2rem;
  position: relative;
  display: inline-block;
  
  &::after {
    content: '✨';
    position: absolute;
    right: -5rem;
    top: 0;
  }
}

.subtitle {
  font-size: 1.2rem;
  color: var(--secondary-text);
  margin-bottom: 2rem;
  max-width: 600px;
}

.tags {
  display: flex;
  gap: 1rem;
  
  .tag {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      transform: translateY(-2px);
    }
  }
}

.decorative-circle {
  position: absolute;
  z-index: 0;
  animation: float 6s ease-in-out infinite;
  
  img {
    width: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.2));
  }
  &.Rocket{
    width: 100px;
  }
  
  &:nth-child(2) {
    animation-delay: -2s;
  }
  
  &:nth-child(3) {
    animation-delay: -4s;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}